<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting"
             requirePermission="false" 
             type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting"/>
  </configSections>
  <microsoft.scripting>
    <languages>
      <language
        extensions=".rb"
        displayName="IronRuby"
        type="IronRuby.Runtime.RubyContext, IronRuby"
        names="IronRuby;Ruby;rb"/>
      <language
        extensions=".js"
        displayName="IronJint"
        type="IronJint.Runtime.JavaScriptContext, IronJint"
        names="IronJint;JavaScript;js"/>
    </languages>
  </microsoft.scripting>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
